.App {
  text-align: center;
  max-width: 1201px;
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 24px);
  display: flex;
  flex-direction: column;
}

.App-header {
  margin-bottom: 32px;
}

.App-body {
  flex-grow: 1;
}

.App-aside {
  float: left;
}

.App-main {
  float: left;
  margin-bottom: 50px;
}

.App-footer {
  clear: both;
}
