:root {
  --fz: 16px;
  --theme--contrast-0: #121212;
  --theme-body-bg: #18061f;
  --theme-body-txt: #f3f3f3;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: tomato;
  --brand-color_5: #fff35c;
  --brand-color_6: #8429de;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}