:root {
  --fz: 16px;
  --theme--contrast-0: #121212;
  --theme-body-bg: #F6F7FB;
  --theme-body-txt: #282538;
  --theme-gray-bg: #F2F2F2;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --color-primary: #1E86FF;
  --color-primary-dark: #334680;
  --color-gray: #B9BDCF;
  --color-gray-light: #BDBDBD;
  --color-white: #FFFFFF;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}